.breadcrumb {  
    /*
      - add some padding around it
      - add background color
      - remove the bullet points on the list
    */
    background-color: rgb(209 213 219);
    text-decoration: none;
    padding: 0.5rem;
  }
  
  .breadcrumb li {
    /* 
      Hint: display
      - Make the list in a line.
    */
    display: inline;
    font-weight: bold;
  }
  
  .breadcrumb li a {
    /*
      - add text color
    */
    color: blue;
  }
  
  /* add a CSS selector that selects all list elements except for 1st one */
  /* add "/" before each selected list  */
  /* add text color and padding */
  .breadcrumb li:not(:first-child)::before {
    /*
      - add text color
    */
    content: "/"; 
    color: black;
    padding: 0.35rem;
  }
 