:root {
    --primary-green: #119DA4;
    --secondary-gray: #143F6B;

    /* Font size */
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;
    --text-3xl: 1.875rem;
    --text-4xl: 2.25rem;
    --text-5xl: 3rem;
    --text-6xl: 3.75rem;
    --text-7xl: 4.5rem;
}

*{
    padding: 0;
    margin: 0;
}

html {
    font-family: system-ui;
}
 
 
.gray{
    background-color: #143F6B; 
}

.container{ 
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.nav__bar{
    display: flex;
    position: relative; 
    padding: 1rem;
    margin: auto;
}

.nav__bar > h2{
    font-size: var(--text-xl);
    font-weight: 400;
    color:  white;
    padding-left: 1rem;
}

.title__section > h2{
    font-size: var(--text-3xl);
    font-weight: 600;
    padding: 1rem 0;
}

.cats__container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 350px));
    grid-gap: 30px 15px;
    justify-content: center;
    align-items: baseline;
}

.cat__card{     
    border: 1px solid black;  
    position: relative;
}

.cat__card #cat__text{
    padding-top: 2rem;
    line-height: 1.5rem;
}

.cat__image{
    height: 20rem;
}

.cat__content{
    display: block;
    padding: 1.25rem; 
    height: 35vh;
}

.cat__image > img{
    width: 100% ;
    height:  100%;
}

.cat__cta{
    border-radius: 0.25rem;
    cursor: pointer;  
    margin-top: auto;  
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    align-self: center;
    }

.cat__cta > a{
    color: white;
    text-decoration: none;
    display: flex; 
    justify-content: center;
    padding: 0.5rem;
}
